@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply bg-gray-900 text-white p-1 rounded shadow-2xl;
  }
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #36383b;
  border: 2px solid #ccc;
}

input[type='range']::-moz-range-thumb {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #111827;
  border: 5px solid #111827;
}

input[type='range']::-moz-range-progress {
  height: 1px;
  border-radius: 10px;
  border: 2px solid #111827;
  background-color: #111827;
}
